{% extends 'base.html' %}
{% load static %}



{% block title %}rgister{% endblock %}



{% block style %}<link rel="stylesheet" href="{% static 'css/AddNews.css' %}">{% endblock %}



{% block content %}
<div class="container">
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Username:</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="id_password">Password:</label>
            {{ form.password }}
        </div>
        <div class="form-group">
            <input type="submit" value="Login">
        </div>
    </form>
</div>
{% endblock %}
